@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Dots&display=swap');

@media screen {

    :root {
        --background-color: #373748;
        --main-color: #A5A5C6;
        --secondary-color: #D691CE;
        --third-color: #FFFFFF;
        --fourth-color: rgba(204, 76, 161, 0.85);
        --font1: 'Zen Dots', cursive;
        --font2: 'Poppins', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {

        background-color: var(--background-color);
        overflow-x: hidden;
        height: 100vh;
        font-family: 'Urbanist', sans-serif;
    }

    a {
        text-decoration: none;
    }

    header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem;
        font-size: 50px;
        color: var(--secondary-color);
        font-family: var(--font1);
    }

    .logo img {
        width: 20%;
        height: 20%;
    }

    input {
        display: none;
    }

    /* -------------CSS du MAIN/carrousel mobile----------*/
    .carrousel {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 100%;
        height: 75vh;
        display: flex;
        transform-style: preserve-3d;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        /* touch-action: double-tap-zoom; */
    }


    .cards {

        position: relative;
        height: 400px;
        width: 330px;
        margin-bottom: 20px;
        perspective: 1000px;
        transform-style: preserve-3d;
    }


    .cards label {

        position: absolute;
        width: 430px;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: transform 0.55s ease;
    }

    .cards .card {

        position: relative;
        height: 100%;
        background-color: var(--main-color);
        border-radius: 10px;
        padding: 30px 35px;
    }

    .card .image {

        display: flex;
        justify-content: space-between;
    }

    .card .image img {

        border-radius: 5px;
        box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
        margin-top: 23px;
        width: 86%;
        height: 220px;
        object-fit: cover;
    }

    .card .image .dots {

        text-align: center;
    }

    .dots div {

        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .dots div:nth-child(1) {

        background-color: var(--current-color1);
    }


    .card .infos {

        display: block;
        text-align: end;
        padding-top: 60px;
    }

    .infos span {

        display: block;
    }

    .infos .name {

        font-size: 30px;
        color: var(--current-color1);
        letter-spacing: 8px;
        margin-bottom: 20px;
        padding-left: 25%;
        transition: all .6s ease;
        font-family: var(--font1);
    }

    .infos .lorem {

        font-size: 15.5px;
        color: var(--background-color);
        letter-spacing: 3px;
        font-family: var(--font2);
    }

    .card .btn-contact {
        width: 228px;
        height: 80px;
        margin: 2rem 0 0 4rem;
        padding: 0.75em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: currentColor 0.125em solid;
        border-radius: 2em;
        border-color: var(--secondary-color);
        color: var(--third-color);
        text-shadow:
            0 0 0.125em hsl(0 0% 100% / 0.5),
            0 0 0.125em currentColor;
        box-shadow: 0 0 0.5em 0 var(--background-color);
    }

    /* .card .btn-contact {

        width: 100%;
        height: 60px;
        margin: 35px auto;
        border-radius: 5px;
        background-color: var(--current-color1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--background-color);
        font-size: 25px;
        letter-spacing: 10px;
        font-weight: 700;
        transition: all .7s ease;
    } */

    /*--------------------footer -------------------*/
    footer {
        margin-top: 25rem;
        font-family: var(--font2);
    }

    footer ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    ul li {
        list-style: none;
        text-decoration: none;
    }

    li {
        margin: 2rem;
    }



    /*--------------------fonction flip -------------------*/

    /*--------------------cartes à gauche de la main dans le carrousel -------------------*/

    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide6,
    #s3:checked~.cards #slide7,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2,
    #s6:checked~.cards #slide3,
    #s7:checked~.cards #slide4 {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(-30%, 0, -220px);
        --current-color1: var(--third-color);
    }

    #s1:checked~.cards #slide6,
    #s2:checked~.cards #slide7,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3,
    #s6:checked~.cards #slide4,
    #s7:checked~.cards #slide5 {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(-30%, 0, -170px);
        --current-color1: var(--third-color);
    }

    #s1:checked~.cards #slide7,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4,
    #s6:checked~.cards #slide5,
    #s7:checked~.cards #slide6 {
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(-30%, 0, -120px);
        --current-color1: var(--third-color);
    }

    /*------------carte main du carrousel----------*/
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5,
    #s6:checked~.cards #slide6,
    #s7:checked~.cards #slide7 {
        box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
        transform: translate3d(0, 0, 0px);
        --current-color1: var(--fourth-color);
    }

    /*--------------------cartes à droite de la main dans le carrousel -------------------*/

    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide6,
    #s6:checked~.cards #slide7,
    #s7:checked~.cards #slide1 {
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(30%, 0, -120px);
        --current-color1: var(--third-color);
    }

    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide6,
    #s5:checked~.cards #slide7,
    #s6:checked~.cards #slide1,
    #s7:checked~.cards #slide2 {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(30%, 0, -170px);
        --current-color1: var(--third-color);
    }


    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide6,
    #s4:checked~.cards #slide7,
    #s5:checked~.cards #slide1,
    #s6:checked~.cards #slide2,
    #s7:checked~.cards #slide3 {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(30%, 0, -220px);
        --current-color1: var(--third-color);
    }
}

@media screen and (min-width: 1299px) {
    .carrousel {
        display: none;
    }
}

/* -----Mise en CSS de la carte 1 - card chosen qui a la fonction flip-------- */
.mobile-cardchosen {

    position: relative;
    width: 430px;
    height: 650px;
    background-color: var(--main-color);
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.mobile-front-chosen {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-image: url(/assets/img/cardbackgroundhighres.jpeg);
    background-size: 100% 100%;
    border-radius: 10px;
}

.mobile-back-chosen {
    position: relative;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 30px 35px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/*---ancien code de la mobile back chosen---*/
/* .mobile-back-chosen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    height: 100%;
    margin: 10px;
} */

.mobile-back-chosen .image {
    display: flex;
    justify-content: space-between;

}

.mobile-back-chosen .image img {
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    width: 310px;
    height: 220px;
    object-fit: cover;
    margin-top: 20px;
}

.mobile-back-chosen .image .dots {
    text-align: center;
}

.mobile-cardchosen:hover {
    transform: rotateY(180deg);
}


.mobile-back-chosen .dots div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mobile-back-chosen .dots div:nth-child(1) {

    background-color: var(--current-color1);
}


.mobile-back-chosen .infos {

    display: block;
    text-align: end;
    padding-top: 60px;
}

.mobile-back-chosen .infos span {

    display: block;
}

.mobile-back-chosen .infos .name {

    font-size: 30px;
    color: var(--current-color1);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .6s ease;
    font-family: var(--font1);
}

.mobile-back-chosen .infos .lorem {

    font-size: 15.5px;
    color: var(--background-color);
    letter-spacing: 3px;
    font-family: var(--font2);
}

.mobile-back-chosen .btn-contact {
    width: 228px;
    height: 80px;
    margin: 2rem 0 0 4rem;
    padding: 0.75em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: currentColor 0.125em solid;
    border-radius: 2em;
    border-color: var(--secondary-color);
    color: var(--third-color);
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.5),
        0 0 0.125em currentColor;
    box-shadow: 0 0 0.5em 0 var(--background-color);
}