:root {
    --background-color: #373748;
    --main-color: #A5A5C6;
    --secondary-color:#D691CE;
    --third-color:#FFFFFF;
    --font1: "Vibur", sans-serif;
    --font2: "poppins", sans-serif;
}
        



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/coeur.png) no-repeat center;
    background-color: var(--background-color);
}

ul, a {
    list-style: none;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font2);
}

h1, h3 {
    font-family: var(--font2);
    color: var(--secondary-color);
}
input {
    color: var(--background-color);
    font-family: var(--font2);
    background-color: var(--secondary-color);
    border-radius: 50px;
    width: 228px;
    height: 82px;
    border-color: var(--secondary-color);
    font-size: 30px;
    margin-left: 50%;
    margin-top: 17rem;
    transform: translateX(-50%);
}
.home-container {
    width: 100%;
    height: auto;
}
.home-container h1, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container h1 {
    font-size: 40px;
    margin-top: 4rem;
}
.home-container h3 {
    font-size: 30px;
    margin-top: 5rem;
}

.staff {
    align-items: center;
}



footer ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 15rem 1rem 0 1rem;
}
