:root {
    --background-color: #373748;
    --main-color: #A5A5C6;
    --secondary-color:#D691CE;
    --third-color:#FFFFFF;
}
#logo {
    background-color: var(--background-color);
    width: auto;
    height: auto;
}
#logo img {
    width: 120px;
    height: 100%;
}
header {
    background-color: var(--background-color);
    width: auto;
    height: auto;
    padding-bottom: 40px;
}
header h1 {
    color: var(--secondary-color);
    font-size: 6em;
    text-align: center;
    text-decoration:underline;
}
body {
    background-color: var(--background-color);
}
main {
    display: flex;
    justify-content: center;
}
.card-grid {
    width: 60%;
    box-sizing: border-box;
    display: grid;
    grid-column: 4;
    grid-row: 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}
.thecard{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.9s ease;
  }
 .front{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    color: var(--secondary-color);
    text-align: center;
  }
.back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
    transform: rotateY(180deg);
  }
  .thecard:hover{
    transform: rotateY(180deg);
  }
  .thecard-chosen{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    grid-column: span 2;
    grid-row: span 3;
    grid-area: 1 / 2 / 4 / 4;
  }
 .front-chosen{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    color: var(--secondary-color);
    text-align: center;
  }
.back-chosen{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
    transform: rotateY(180deg);
  }
  .thecard-chosen:hover{
    transform: rotateY(180deg);
  }
