:root {
    --background-color: #373748;
    --main-color: #A5A5C6;
    --secondary-color: #D691CE;
    --third-color: #FFFFFF;
    --fourth-color: #cc4ca1d9;
}
/***********************************************************LOGO**********************************************************************/
#logo {
    background-color: var(--background-color);
    width: auto;
    height: auto;
}

#logo img {
    width: 15%;
    height: 15%;
}
/***********************************************************HEADER********************************************************************/
header {
    background-color: var(--background-color);
    width: auto;
    height: auto;
}

header h1 {
    color: var(--secondary-color);
    font-size: calc(5vw + 4vh);
    text-align: center;
}
/************************************************************BODY*********************************************************************/
body {
    background-color: var(--background-color);
}

main {
    display: flex;
    justify-content: center;
}
/************************************************************GRID*********************************************************************/
.card-grid {
    margin-top: 75px;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-column: 4;
    grid-row: 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
    height: 95vh;
}
/********************************************************SECONDARY CARDS**************************************************************/
.thecard {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.9s ease;
    border-radius: 10px;

}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    color: var(--fourth-color);
    text-align: center;
    background-image: url(cardbachkgroundhighres.jpeg);
    background-size: 100% 100%;
    border-radius: 10px;
    font-size: calc(0.5vw + 0.3vh);
}
.front h1 {
  font-size: calc(0.8vh + 0.6vw);
  color: var(--secondary-color);
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--main-color);
    color: var(black);
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.back img {
    width: 80%;
    height: 30%;
    margin-top: 1.5vh;
    border-radius: 10px;
}

.back h1 {
    color: var(--fourth-color);
    font-size: calc(1vh + 1vw);
    margin-top: 1vh;
}

.back p {
    text-align: start;
    font-size: calc(0.5vw + 0.7vh);
}

.back .desc {
    font-weight: bold;
    font-size: calc(0.8vw + 0.8vh);
    color: var(--fourth-color);

}

.back .qualflaw { 
    font-weight: bold;
    font-size: calc(0.7vw + 0.7vh);
    color: var(--fourth-color);
    word-wrap: break-word;

}

.thecard:hover {
    transform: rotateY(180deg);
}
/************************************************************MAIN CARD****************************************************************/
.thecard-chosen {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    grid-column: span 2;
    grid-row: span 3;
    grid-area: 1 / 2 / 4 / 4;
    border-radius: 10px;
}


.front-chosen {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(cardbachkgroundhighres.jpeg);
    color: var(--secondary-color);
    text-align: center;
    background-size: 100% 100%;
    border-radius: 10px;
}

.front-chosen h1 {
    font-size: calc(1.1vw + 1.8vh);
}

.back-chosen {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--main-color);
    color: var(--fourth-color);
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.back-chosen img {
    width: 80%;
    height: 30%;
    margin-top: 2.5vh;
    border-radius: 10px;
}

.back-chosen h1 {
    font-size: calc(2vh + 1.8vw);
}

.thecard-chosen:hover {
    transform: rotateY(180deg);
}
/****************************************************************FOOTER***************************************************************/
footer small {
    margin-top: 8vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-around;
}

footer a {
    margin-right: 9vh;
    color: var(--secondary-color);
    font-size: calc(0.8vh + 0.8vw);
}
