:root {
    --background-color: #373748;
    --main-color: #A5A5C6;
    --secondary-color: #D691CE;
    --third-color: #FFFFFF;
    --fourth-color: rgba(204, 76, 161, 0.85);
    --font2: "poppins", sans-serif;
    --font1: "Zen Dots", cursive;
}



/*----------------HEADER----------------------*/

header {
    width: auto;
    height: auto;
    padding-top: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    font-family: var(--font1);
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-left: 20px;

}

#logo {
    position: absolute;

    margin-right: 15px;

}

#logo img {
    width: 23vw;
    height: 13vh;
    margin-right: 15px;
}


/*----------------BODY------------------------*/

body {
    background: var(--background-color);

    /* display: flex;
    justify-content: center;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 10% 80% 10%;
}


/*----------------BLOC FORMULE ABO------------------*/

main {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    min-height: 70vh;
}

h2 {
    padding-top: 20px;
    font-weight: bolder;
    font-family: var(--font2);
    font-size: 20px;
    color: var(--fourth-color);
}

span{
    font-weight:bold ;
    color: var(--fourth-color);
}

.conditions {
    background: var(--main-color);
    border: 2px solid --secondary-color;
    padding: 10px;
    margin: 40px 20px 40px 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px var(--secondary-color);
    color: var(--third-color);
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;


}


/*----------------FOOTER----------------------*/

footer {
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    margin-bottom: 30px;
    margin-right: 75px;
}

li a {

    list-style: none;
    text-decoration: none;
    font-family: var(--font2);
    color: var(--secondary-color);
    display: inline;
    margin-right: 35px;
}

.foot {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------------RESPONSIVE-----------------*/

@media screen and (min-width:1300px) {

    #logo img {
        width: 30%;
        height: 30%;
        margin-top: -40px;
    }

    .formule {
        margin: 50px 200px;
        box-shadow: 3px 7px 7px var(--secondary-color);
    }

    .standart {
        font-size: 20px;

    }

    header h1{
        margin-top: 39px;
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
    }

}